[Unit]
Description=Lispbar - a status bar written in Common Lisp
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lispbar
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
